---
import Layout from '../layouts/Layout.astro';
---

<Layout>
    <div class="w-screen h-screen flex justify-center items-center flex-col">
        <div class="text-white text-4xl mb-6">
            farsight — <span class="text-green-300">the catalyst</span>
        </div>
        <div class="text-gray-100 text-xl">
            have you seen projects like this before?
        </div>
        <a class="text-gray-100 text-xl underline underline-offset-4" href="https://github.com/farsight-lol">
            check out our github.
        </a>
    </div>
</Layout>
